body {
  background-color: #f0f0f5; /* light color, not plain white */
  font-family: "Arial", sans-serif; /* new good font */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

h1 {
  color: #333; /* fitting color for the heading */
  width: 50%; /* same width */
  text-align: center;
}

input,
button {
  width: 50%; /* same width */
  padding: 10px;
}

button {
  background-color: #007bff; /* blue color */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3; /* darker blue color */
}

input {
  border: 1px solid #ccc;
  font-size: 16px;
}

.diastolic {
  border-top: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    width: 90%;
  }

  input,
  button {
    width: 90%;
  }
}

@media only screen and (min-width: 601px) {
  h1 {
    width: 500px;
  }

  input,
  button {
    width: 500px;
  }
}
