<%- include('header') -%>

<h1><%= title %></h1>

<form action="/" <%="formType" %>
  method="post"> <% if (formType === "bp") { %>
  <input
    name="input1"
    type="number"
    placeholder="Enter your systolic pressure"
    required
  />
  <input
    name="input2"
    type="number"
    placeholder="Enter your diastolic pressure"
    required
  />
  <% } else if (formType === "signup") { %>
  <!-- <input name="username" type="text" placeholder="Enter your username" required /> -->
  <input name="input1" type="email" placeholder="Enter your email" required />
  <input
    name="input2"
    type="password"
    placeholder="Enter your password"
    required
  />
  <% } else { %>
  <input name="input1" type="email" placeholder="Enter your email" required />
  <input
    name="input2"
    type="password"
    placeholder="Enter your password"
    required
  />
  <% } %>
  <button type="submit">Submit</button>
</form>

<%- include('footer') -%>
